body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
}
.nav-link {
    margin-right: 20px;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}

.navbar-brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-brand-container .profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 5px;
}

nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #141313;
}


footer {
    background-color: #050505;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;
    
}

footer li {
    color: #ffffff;
  
}

footer a {

    color: #fff;
    text-decoration: none;













}
